header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(168, 99, 71);
  padding: 15px 40px;
  border: 2px solid black;
  width: 100%;
  box-sizing: border-box;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
  transition: all 0.2s ease;
}

header nav ul li:hover {transform: scale(1.1);}

header nav ul li a.active {
  color: red;
}