.inicio {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.preguntas {
  padding: 40px;
}

.perfil {
  width: 350px;
  flex-shrink: 0;
}