* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(225, 225, 225);
}

.layout-global {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.contenido-principal {
  flex: 1;
  padding: 20px;
}

.sidebar-derecho {
  flex-shrink: 0;
}