.ppt-contenedor {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 80px;
}

.opciones {
  display: flex;
  gap: 100px;
}

.opcion-item {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.opcion-item:hover .circulo {
  border-color: #007bff;
}

.opcion-item:hover span {
  color: #007bff;
  font-weight: bold;
}

.opcion-item:hover { transform: scale(1.1); }

.resultado-card {
  display: flex;
  background-color: #eee;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
}

.resultado-card .texto {
  flex: 1;
  padding: 20px;
}

.resultado-card .imagen-placeholder {
  width: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-resultado-container {
  width: 200px;
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-ppt {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
}

.new-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2.5px solid #000;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.contadores {
  display: flex;
  gap: 50px;
  font-weight: bold;
}